/Model
.streamlit/
ss/
stable-diffusion-webui/
PROJECT_REPORT.md

# Ignore everything in MovieScriptGeneratorStreamlit except specific files
MovieScriptGeneratorStreamlit/*
!MovieScriptGeneratorStreamlit/mcp_server.py
!MovieScriptGeneratorStreamlit/streamlit_app_llama.py
!MovieScriptGeneratorStreamlit/streamlit_app_mistral.py